.grid {
 display: flex;
 justify-content: center;
}

.grid div.content {
 padding-left: 5%;
}

.grid div:last-child {
 width: 50%;
 margin-left: 35px;
}

@media screen and (max-width: 660px) {
 .grid div:last-child {
  display: none;
 }

 .grid {
  justify-content: center;
 }

 .content {
  width: 70%;
 }
}

.grid div:last-child img {
 width: 100%;
}